html,
body {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    background-image: url("images/background.png");
    background-size: cover;
}

.control {
    padding: 1rem 2rem;
    background-color: white;
    border: 0.3rem solid black;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.678);
    flex: 1;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
    transition: 0.3s;
}

.grid {
    border: 0.3rem solid black;
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    box-shadow: 0 0 3rem black;
    border-radius: 0.6rem;
    width: 960px;
    height: 960px;
    transition: 0.4s;
    background-color: white;
    overflow: hidden;
}

.gridClear {
    transform: scale(0.9);
}

.grid-row {
    display: flex;
    flex: auto;
}

.grid-item {
    flex: auto;
    transition: 0.4s;
}

#buttons {
    justify-content: space-between;
    display: flex;
    margin: 4rem;
    margin-top: 0;
    margin-bottom: 2rem;
    gap: 1rem;
    width: 960px;
}

#colors {
    align-items: stretch;
    gap: 1rem;
    display: flex;
    border: 0.3rem solid black;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.678);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    background-color: white;
}

.color-container {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
}

.color-button {
    box-shadow: 0 0 6px black;
    padding: 0.5rem;
    border-radius: 2rem;
    border: none;
    background-color: white;
    transition: 0.2s;
}

#red .color-container {
    background-color: darkred;
}

#blue .color-container {
    background-color: cadetblue;
}

#green .color-container {
    background-color: forestgreen;
}

#yellow .color-container {
    background-color: darkgoldenrod;
}

#white .color-container {
    background-color: rgb(241, 241, 241);
}

#black .color-container {
    background-color: black;
}

.control:hover {
    background-color: rgb(243, 213, 213);
}

.color-button:hover {
    transform: scale(1.1);
}

.color-button:active,
.control:active {
    background-color: rgb(228, 228, 228);
}

footer {
    position: absolute;
    bottom: 0;
    font-size: 20px;
}

footer p {
    color: black;
}